{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{ beast.name }} </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/Beast/edit/{{ beast.id }}" class="float-right">Edit</a>
        </div>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4">
            <img src="{{ beast.picture }}" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8">
            {#
            je sais que la consigne est de montrer TOUT les elements de la table beast donc les id aussi
            mais je trouvais cela moins joli de montrer de simple id tout de même voici comment on les affichent :
            <p>Id : {{ beast.id }} </p>
            <p>Id_movie : {{ beast.id_movie }} </p>
            <p>Id_planet : {{ beast.id_planet }} </p>
            #}

            <p>Area : {{ beast.area }} area</p>
            <p>Size : {{ beast.size }} m</p>
            <p>Planet :  {{ planet.name }} </p>
            <p>Movie(s) : {{ movie.title }}</p>
        </div>
    </div>
    <a href="/beast/list">Back</a>
{% endblock %}
